<?xml version="1.0"?>
<connectionStrings>
  <add name="BookShopEntities" connectionString="metadata=res://*/EFData.BookShopModel.csdl|res://*/EFData.BookShopModel.ssdl|res://*/EFData.BookShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CCBB-PC\SQLEXPRESS;initial catalog=BookShop;persist security info=True;user id=AlexLei;password=lbr215027;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--<add name="BookShopEntities" connectionString="metadata=res://*/EFData.BookShopModel.csdl|res://*/EFData.BookShopModel.ssdl|res://*/EFData.BookShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={DataSource};initial catalog={InitialCatalog};persist security info=True;user id={UserId};password={Password};MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
</connectionStrings>